# Ignore compiled files
*.o
*.out
*.class
unix_utils/*.o
unix_utils/*.out
unix_utils/*.class

femtoshell/*.o
femtoshell/*.out
femtoshell/*.class

# Ignore logs and temporary files
*.log
tmp/
cache/

# Ignore environment files
.env

# Ignore dependencies
node_modules/
vendor/

# Ignore system files
.DS_Store
Thumbs.db
.vscode/
playground/

